<a href="https://colab.research.google.com/github/CS222-UIUC/course-project-movie-recommender/blob/cpere20/CS222_Set_Up.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import tensorflow as ts
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
print("hi this is cs222")

hi this is cs222

In [5]:
# Read movie data file
df = pd.read_csv("movies_metadata.csv")

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [28]:
# Display movie data
movie_data = df.head(200)
movie_data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.0,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.0,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.0,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.0,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.0,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,False,NaN,42000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.strange-days.com,281,tt0114558,en,Strange Days,Set in the year 1999 during the last days of t...,...,1995-10-13,7959291.0,145.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You know you want it.,Strange Days,False,6.0,334.0
196,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,5967,tt0058450,fr,Les parapluies de Cherbourg,This simple romantic tragedy begins in 1957. G...,...,1964-02-19,0.0,91.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,a film for all the young lovers of the world,The Umbrellas of Cherbourg,False,7.0,119.0
197,False,NaN,14000000,"[{'id': 53, 'name': 'Thriller'}]",NaN,79593,tt0114666,en,The Tie That Binds,John Netherwood and his wife Leann are fugitiv...,...,1995-09-08,5780000.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Tie That Binds,False,4.0,9.0
198,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,47939,tt0114663,en,Three Wishes,While Jane Holman (Mastrantonio) is driving wi...,...,1995-10-27,7025496.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"If you really believe, magic will find you",Three Wishes,False,6.0,18.0
199,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,36834,tt0114702,en,Total Eclipse,"Young, wild poet Arthur Rimbaud and his mentor...",...,1995-11-02,339889.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Touched by Genius. Cursed by Madness. Blinded ...,Total Eclipse,False,6.0,112.0

In [29]:
# View list of all columns to make it easier to see what is being stored in the CSV file
movie_data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [32]:
# created new data with only the important columns
movies = movie_data[['genres', 'tagline', 'title', 'production_companies']]
movies

,genres,tagline,title,production_companies
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,Toy Story,"[{'name': 'Pixar Animation Studios', 'id': 3}]"
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Roll the dice and unleash the excitement!,Jumanji,"[{'name': 'TriStar Pictures', 'id': 559}, {'na..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Friends are the people who let you be yourself...,Waiting to Exhale,[{'name': 'Twentieth Century Fox Film Corporat...
4,"[{'id': 35, 'name': 'Comedy'}]",Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,"[{'name': 'Sandollar Productions', 'id': 5842}..."
...,...,...,...,...
195,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",You know you want it.,Strange Days,"[{'name': 'Lightstorm Entertainment', 'id': 574}]"
196,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",a film for all the young lovers of the world,The Umbrellas of Cherbourg,"[{'name': 'Beta Film', 'id': 1080}, {'name': '..."
197,"[{'id': 53, 'name': 'Thriller'}]",NaN,The Tie That Binds,"[{'name': 'Hollywood Pictures', 'id': 915}, {'..."
198,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...","If you really believe, magic will find you",Three Wishes,"[{'name': 'Savoy Pictures', 'id': 11308}]"
199,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",Touched by Genius. Cursed by Madness. Blinded ...,Total Eclipse,[{'name': 'Société Française de Production (SF...

<bound method DataFrame.info of                                                 genres  \
0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
..                                                 ...
195  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
196  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
197                   [{'id': 53, 'name': 'Thriller'}]
198  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
199  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...

                                               tagline  \
0                                                  NaN
1            Roll the dice and unleash the excitement!
2    Still Yelling. Still Fighting. Still Ready for...
3    Friends are the people who let you be yourself...
4    Just When His World Is Back To Normal... He's ...
..                                                 ...
195                              You know you want it.
196       a film for all the young lovers of the world
197                                                NaN
198         If you really believe, magic will find you
199  Touched by Genius. Cursed by Madness. Blinded ...

                           title  \
0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
..                           ...
195                 Strange Days
196   The Umbrellas of Cherbourg
197           The Tie That Binds
198                 Three Wishes
199                Total Eclipse

                                  production_companies
0       [{'name': 'Pixar Animation Studios', 'id': 3}]
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2    [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3    [{'name': 'Twentieth Century Fox Film Corporat...
4    [{'name': 'Sandollar Productions', 'id': 5842}...
..                                                 ...
195  [{'name': 'Lightstorm Entertainment', 'id': 574}]
196  [{'name': 'Beta Film', 'id': 1080}, {'name': '...
197  [{'name': 'Hollywood Pictures', 'id': 915}, {'...
198          [{'name': 'Savoy Pictures', 'id': 11308}]
199  [{'name': 'Société Française de Production (SF...

[200 rows x 4 columns]>

(45466, 24)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [9]:
# check for any null values
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [34]:
# check for duplicate values
df.duplicated().sum()

10

In [45]:
# Created a column that concatnates all the data from a row into one single column
movies['grouped_data'] = movies['genres'] +' '+ movies['tagline'] +' '+ movies['title'] +' '+ movies['production_companies']
movies.head()
movies.iloc[1]['grouped_data']

<ipython-input-45-9614b4ee1ca5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['grouped_data'] = movies['genres'] +' '+ movies['tagline'] +' '+ movies['title'] +' '+ movies['production_companies']

"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}] Roll the dice and unleash the excitement! Jumanji [{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]"

In [35]:
gen = df["genres"]
vote_avg = df["vote_average"]
gen
# print(type(gen))

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [12]:
print(gen[0])
print(type(gen[0]))

[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
<class 'str'>

In [13]:
for i in range(len(vote_avg)):
  vote_avg[i] = int(vote_avg[i])

<ipython-input-13-7a00daefad50>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vote_avg[i] = int(vote_avg[i])

ValueError: ignored

In [ ]:
plt.figure(figsize = (8,8))
plt.scatter(gen, vote_avg)

In [ ]:
# categ = []
# for i in gen:
#     div = gen[i]
#     categ.append(div)
# categ

KeyError: ignored