<a href="https://colab.research.google.com/github/CS222-UIUC/course-project-movie-recommender/blob/main/Hkang_Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn as sk
import numpy as np
import pandas as pd
import tensorflow as ts
import matplotlib.pyplot as plt
import nltk
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
df = pd.read_csv("movies.csv")
df.head()

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations
0,631842,Knock at the Cabin,Horror-Mystery-Thriller,en,While vacationing at a remote cabin a young gi...,3422.537,Blinding Edge Pictures-Universal Pictures-Film...,2023-02-01,20000000.0,52000000.0,100.0,Released,Save your family or save humanity. Make the ch...,6.457,888.0,Dave Bautista-Jonathan Groff-Ben Aldridge-Kris...,based on novel or book-sacrifice-cabin-faith-e...,/dm06L9pxDOL9jNSK4Cb6y139rrG.jpg,/zWDMQX0sPaW2u0N2pJaYA8bVVaJ.jpg,1058949-646389-772515-505642-143970-667216-104...
1,646389,Plane,Action-Adventure-Thriller,en,After a heroic job of successfully landing his...,2618.646,MadRiver Pictures-Di Bonaventura Pictures-G-BA...,2023-01-12,25000000.0,51000000.0,107.0,Released,Survive together or die alone.,6.901,785.0,Gerard Butler-Mike Colter-Yoson An-Tony Goldwy...,pilot-airplane-philippines-held hostage-plane ...,/qi9r5xBgcc9KTxlOLjssEbDgO0J.jpg,/9Rq14Eyrf7Tu1xk0Pl7VcNbNh1n.jpg,505642-758769-864692-631842-1058949-925943-758...
2,315162,Puss in Boots: The Last Wish,Animation-Adventure-Comedy-Family,en,Puss in Boots discovers that his passion for a...,2589.341,DreamWorks Animation-Universal Pictures,2022-12-07,90000000.0,442000000.0,103.0,Released,Say hola to his little friends.,8.402,4357.0,Antonio Banderas-Salma Hayek-Harvey Guillén-Wa...,fairy tale-talking dog-spin off-aftercreditsst...,/kuf6dutpsT0vSVehic3EZIqkOBt.jpg,/b1Y8SUb12gPHCSSSNlbX4nB3IKy.jpg,536554-76600-816904-653851-899112-985335-83078...
3,505642,Black Panther: Wakanda Forever,Action-Adventure-Science Fiction,en,Queen Ramonda Shuri M’Baku Okoye and the Dora ...,2525.408,Marvel Studios,2022-11-09,250000000.0,858535561.0,162.0,Released,Forever.,7.338,3922.0,Letitia Wright-Lupita Nyong'o-Danai Gurira-Win...,loss of loved one-hero-sequel-superhero-based ...,/sv1xJUazXeYqALzczSZ3O6nkH75.jpg,/xDMIl84Qo5Tsu62c9DGWhmPI67A.jpg,436270-829280-76600-56969-312634-1037858-238-5...
4,956101,The Eighth Clause,Thriller,la,Kat and Borja appear to be a perfect couple bu...,2259.303,SDB Films-El Hombre Orquesta,2022-04-29,0.0,0.0,0.0,Released,NaN,4.600,10.0,Maite Perroni-Manuel Vega-Óscar Jaenada-Jessic...,NaN,/8tc8eMFAX2SDC1TRu987qFQy8Cl.jpg,/kLnqNE9Af5QHyvUxw8cDGhF1ilv.jpg,NaN

In [ ]:
print(df.shape)

(723029, 20)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 723029 entries, 0 to 723028
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    723029 non-null  int64
 1   title                 723025 non-null  object
 2   genres                511997 non-null  object
 3   original_language     723029 non-null  object
 4   overview              604350 non-null  object
 5   popularity            723029 non-null  float64
 6   production_companies  337186 non-null  object
 7   release_date          670295 non-null  object
 8   budget                723029 non-null  float64
 9   revenue               723029 non-null  float64
 10  runtime               688534 non-null  float64
 11  status                723029 non-null  object
 12  tagline               108057 non-null  object
 13  vote_average          723029 non-null  float64
 14  vote_count            723029 non-null  float64
 15  credits               497835 non-null  object
 16  keywords              210247 non-null  object
 17  poster_path           537560 non-null  object
 18  backdrop_path         222390 non-null  object
 19  recommendations       34682 non-null   object
dtypes: float64(6), int64(1), object(13)
memory usage: 110.3+ MB

In [ ]:
df.isnull().sum() # check null values

id                           0
title                        4
genres                  211032
original_language            0
overview                118679
popularity                   0
production_companies    385843
release_date             52734
budget                       0
revenue                      0
runtime                  34495
status                       0
tagline                 614972
vote_average                 0
vote_count                   0
credits                 225194
keywords                512782
poster_path             185469
backdrop_path           500639
recommendations         688347
dtype: int64

In [ ]:
df.duplicated().sum()

4

In [ ]:
vcounts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
vaverages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
avg = vaverages.mean()
avg

2.3339050024272887

In [ ]:
df = df.drop(["production_companies", "popularity", "budget", "revenue", "status", "recommendations", "runtime", "vote_average", "backdrop_path",'tagline'], axis = 1) #'poster_path'], axis=1)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.title.duplicated().sum()

86984

In [ ]:
df[["title", "release_date"]].duplicated().sum()# checking for release data with same movie title

2271

In [ ]:
df.drop_duplicates(subset=["title","release_date"], inplace=True)

In [ ]:
df = df[df.vote_count >= 350].reset_index()

In [ ]:
df.isnull().sum()

index                  0
id                     0
title                  0
genres                 0
original_language      0
overview               1
release_date           0
vote_count             0
credits                8
keywords             238
poster_path            0
dtype: int64

In [ ]:
df.fillna("", inplace = True) # replace the null values with ''
# We do have an option filling all the nulls with 0, but since they will have string values, I thought that na -> "" will be necessary

In [ ]:
df

,index,id,title,genres,original_language,overview,release_date,vote_count,credits,keywords,poster_path
0,0,631842,Knock at the Cabin,Horror-Mystery-Thriller,en,While vacationing at a remote cabin a young gi...,2023-02-01,888.0,Dave Bautista-Jonathan Groff-Ben Aldridge-Kris...,based on novel or book-sacrifice-cabin-faith-e...,/dm06L9pxDOL9jNSK4Cb6y139rrG.jpg
1,1,646389,Plane,Action-Adventure-Thriller,en,After a heroic job of successfully landing his...,2023-01-12,785.0,Gerard Butler-Mike Colter-Yoson An-Tony Goldwy...,pilot-airplane-philippines-held hostage-plane ...,/qi9r5xBgcc9KTxlOLjssEbDgO0J.jpg
2,2,315162,Puss in Boots: The Last Wish,Animation-Adventure-Comedy-Family,en,Puss in Boots discovers that his passion for a...,2022-12-07,4357.0,Antonio Banderas-Salma Hayek-Harvey Guillén-Wa...,fairy tale-talking dog-spin off-aftercreditsst...,/kuf6dutpsT0vSVehic3EZIqkOBt.jpg
3,3,505642,Black Panther: Wakanda Forever,Action-Adventure-Science Fiction,en,Queen Ramonda Shuri M’Baku Okoye and the Dora ...,2022-11-09,3922.0,Letitia Wright-Lupita Nyong'o-Danai Gurira-Win...,loss of loved one-hero-sequel-superhero-based ...,/sv1xJUazXeYqALzczSZ3O6nkH75.jpg
4,7,937278,A Man Called Otto,Comedy-Drama,en,When a lively young family moves in next door ...,2022-12-28,540.0,Tom Hanks-Mariana Treviño-Rachel Keller-Manuel...,based on novel or book-suicide attempt-remake-...,/130H1gap9lFfiTF9iDrqNIkFvC9.jpg
...,...,...,...,...,...,...,...,...,...,...,...
7613,243943,225703,The Starving Games,Comedy,en,In this Hunger Games spoof Kantmiss Evershot m...,2013-11-07,556.0,Maiara Walsh-Lauren Bowles-Ashton Leigh-Diedri...,parody,/oHTNil93kpVQ6TOE4pzypgxPKLb.jpg
7614,286374,116741,The Internship,Comedy,en,Two recently laid-off men in their 40s try to ...,2013-06-07,3781.0,Vince Vaughn-Owen Wilson-Rose Byrne-Aasif Mand...,competition-california-mattress shop-job inter...,/hIh3ZgsZ31nbUAGn5SKIZGKiKCX.jpg
7615,346892,203819,Tracks,Adventure-Drama,en,Accompanied only by her faithful dog and four ...,2013-12-19,451.0,Mia Wasikowska-Adam Driver-Emma Booth-Jessica ...,camel-biography-australia-based on true story-...,/qDSA80DC8BmBrErQsiL23qwoeCw.jpg
7616,569282,182219,Serial Teachers,Comedy,fr,With only 12 percent of its pupils obtaining t...,2013-04-17,1112.0,Christian Clavier-Isabelle Nanty-Pierre-Franço...,high school-school teacher,/59Bi4wtdoxXV9eaPat7em2ahISI.jpg
7617,578000,174323,G.B.F.,Comedy-Drama,en,The bitter fight for supremacy between the thr...,2013-04-19,377.0,Michael J. Willett-Paul Iacono-Sasha Pieterse-...,coming out-high school-friends-best friend-mor...,/f4fR1WMgSv7K93ZPoJlPyvaApdE.jpg

In [ ]:
index = df[(df.genres == "") & (df.overview == "")].index
df.drop(index, inplace=True)

In [ ]:
df.shape

(7618, 11)

In [ ]:
df.head()

,index,id,title,genres,original_language,overview,release_date,vote_count,credits,keywords,poster_path
0,0,631842,Knock at the Cabin,Horror-Mystery-Thriller,en,While vacationing at a remote cabin a young gi...,2023-02-01,888.0,Dave Bautista-Jonathan Groff-Ben Aldridge-Kris...,based on novel or book-sacrifice-cabin-faith-e...,/dm06L9pxDOL9jNSK4Cb6y139rrG.jpg
1,1,646389,Plane,Action-Adventure-Thriller,en,After a heroic job of successfully landing his...,2023-01-12,785.0,Gerard Butler-Mike Colter-Yoson An-Tony Goldwy...,pilot-airplane-philippines-held hostage-plane ...,/qi9r5xBgcc9KTxlOLjssEbDgO0J.jpg
2,2,315162,Puss in Boots: The Last Wish,Animation-Adventure-Comedy-Family,en,Puss in Boots discovers that his passion for a...,2022-12-07,4357.0,Antonio Banderas-Salma Hayek-Harvey Guillén-Wa...,fairy tale-talking dog-spin off-aftercreditsst...,/kuf6dutpsT0vSVehic3EZIqkOBt.jpg
3,3,505642,Black Panther: Wakanda Forever,Action-Adventure-Science Fiction,en,Queen Ramonda Shuri M’Baku Okoye and the Dora ...,2022-11-09,3922.0,Letitia Wright-Lupita Nyong'o-Danai Gurira-Win...,loss of loved one-hero-sequel-superhero-based ...,/sv1xJUazXeYqALzczSZ3O6nkH75.jpg
4,7,937278,A Man Called Otto,Comedy-Drama,en,When a lively young family moves in next door ...,2022-12-28,540.0,Tom Hanks-Mariana Treviño-Rachel Keller-Manuel...,based on novel or book-suicide attempt-remake-...,/130H1gap9lFfiTF9iDrqNIkFvC9.jpg

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7618 entries, 0 to 7617
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              7618 non-null   int64
 1   id                 7618 non-null   int64
 2   title              7618 non-null   object
 3   genres             7618 non-null   object
 4   original_language  7618 non-null   object
 5   overview           7618 non-null   object
 6   release_date       7618 non-null   object
 7   vote_count         7618 non-null   float64
 8   credits            7618 non-null   object
 9   keywords           7618 non-null   object
 10  poster_path        7618 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 714.2+ KB

In [ ]:
df.genres = df.genres.apply(lambda x: " ".join(x.split("-")))
df.keywords = df.keywords.apply(lambda x: " ".join(x.split("-")))
df.credits = df.credits.apply(lambda x: " ".join(x.replace(" ", "").split("-")[:5]))

In [ ]:
df["tags"] =df.overview + " "+ df.genres + " "  +df.credits + " " +df.keywords + " " + df.original_language

In [ ]:
df['tags']

0       While vacationing at a remote cabin a young gi...
1       After a heroic job of successfully landing his...
2       Puss in Boots discovers that his passion for a...
3       Queen Ramonda Shuri M’Baku Okoye and the Dora ...
4       When a lively young family moves in next door ...
                              ...
7613    In this Hunger Games spoof Kantmiss Evershot m...
7614    Two recently laid-off men in their 40s try to ...
7615    Accompanied only by her faithful dog and four ...
7616    With only 12 percent of its pupils obtaining t...
7617    The bitter fight for supremacy between the thr...
Name: tags, Length: 7618, dtype: object

In [ ]:
df_new = df[["id", "title", "tags", 'poster_path']]

In [ ]:
df_new

,id,title,tags,poster_path
0,631842,Knock at the Cabin,While vacationing at a remote cabin a young gi...,/dm06L9pxDOL9jNSK4Cb6y139rrG.jpg
1,646389,Plane,After a heroic job of successfully landing his...,/qi9r5xBgcc9KTxlOLjssEbDgO0J.jpg
2,315162,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,/kuf6dutpsT0vSVehic3EZIqkOBt.jpg
3,505642,Black Panther: Wakanda Forever,Queen Ramonda Shuri M’Baku Okoye and the Dora ...,/sv1xJUazXeYqALzczSZ3O6nkH75.jpg
4,937278,A Man Called Otto,When a lively young family moves in next door ...,/130H1gap9lFfiTF9iDrqNIkFvC9.jpg
...,...,...,...,...
7613,225703,The Starving Games,In this Hunger Games spoof Kantmiss Evershot m...,/oHTNil93kpVQ6TOE4pzypgxPKLb.jpg
7614,116741,The Internship,Two recently laid-off men in their 40s try to ...,/hIh3ZgsZ31nbUAGn5SKIZGKiKCX.jpg
7615,203819,Tracks,Accompanied only by her faithful dog and four ...,/qDSA80DC8BmBrErQsiL23qwoeCw.jpg
7616,182219,Serial Teachers,With only 12 percent of its pupils obtaining t...,/59Bi4wtdoxXV9eaPat7em2ahISI.jpg
7617,174323,G.B.F.,The bitter fight for supremacy between the thr...,/f4fR1WMgSv7K93ZPoJlPyvaApdE.jpg

In [ ]:
df_new.tags = df_new.tags.apply(lambda x:x.lower())

/usr/local/lib/python3.9/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
df_new

,id,title,tags,poster_path
0,631842,Knock at the Cabin,while vacationing at a remote cabin a young gi...,/dm06L9pxDOL9jNSK4Cb6y139rrG.jpg
1,646389,Plane,after a heroic job of successfully landing his...,/qi9r5xBgcc9KTxlOLjssEbDgO0J.jpg
2,315162,Puss in Boots: The Last Wish,puss in boots discovers that his passion for a...,/kuf6dutpsT0vSVehic3EZIqkOBt.jpg
3,505642,Black Panther: Wakanda Forever,queen ramonda shuri m’baku okoye and the dora ...,/sv1xJUazXeYqALzczSZ3O6nkH75.jpg
4,937278,A Man Called Otto,when a lively young family moves in next door ...,/130H1gap9lFfiTF9iDrqNIkFvC9.jpg
...,...,...,...,...
7613,225703,The Starving Games,in this hunger games spoof kantmiss evershot m...,/oHTNil93kpVQ6TOE4pzypgxPKLb.jpg
7614,116741,The Internship,two recently laid-off men in their 40s try to ...,/hIh3ZgsZ31nbUAGn5SKIZGKiKCX.jpg
7615,203819,Tracks,accompanied only by her faithful dog and four ...,/qDSA80DC8BmBrErQsiL23qwoeCw.jpg
7616,182219,Serial Teachers,with only 12 percent of its pupils obtaining t...,/59Bi4wtdoxXV9eaPat7em2ahISI.jpg
7617,174323,G.B.F.,the bitter fight for supremacy between the thr...,/f4fR1WMgSv7K93ZPoJlPyvaApdE.jpg

In [ ]:
df_new.tags

0       while vacationing at a remote cabin a young gi...
1       after a heroic job of successfully landing his...
2       puss in boots discovers that his passion for a...
3       queen ramonda shuri m’baku okoye and the dora ...
4       when a lively young family moves in next door ...
                              ...
7613    in this hunger games spoof kantmiss evershot m...
7614    two recently laid-off men in their 40s try to ...
7615    accompanied only by her faithful dog and four ...
7616    with only 12 percent of its pupils obtaining t...
7617    the bitter fight for supremacy between the thr...
Name: tags, Length: 7618, dtype: object

In [ ]:
df_new.tags[0]

'while vacationing at a remote cabin a young girl and her two fathers are taken hostage by four armed strangers who demand that the family make an unthinkable choice to avert the apocalypse. with limited access to the outside world the family must decide what they believe before all is lost. horror mystery thriller davebautista jonathangroff benaldridge kristencui nikkiamuka based on novel or book sacrifice cabin faith end of the world apocalypse home invasion lgbt aftercreditsstinger adopted child adopted daughter shot on film gay same sex relationship religious symbolism en'

In [ ]:
df_new.head()

,id,title,tags,poster_path
0,631842,Knock at the Cabin,while vacationing at a remote cabin a young gi...,/dm06L9pxDOL9jNSK4Cb6y139rrG.jpg
1,646389,Plane,after a heroic job of successfully landing his...,/qi9r5xBgcc9KTxlOLjssEbDgO0J.jpg
2,315162,Puss in Boots: The Last Wish,puss in boots discovers that his passion for a...,/kuf6dutpsT0vSVehic3EZIqkOBt.jpg
3,505642,Black Panther: Wakanda Forever,queen ramonda shuri m’baku okoye and the dora ...,/sv1xJUazXeYqALzczSZ3O6nkH75.jpg
4,937278,A Man Called Otto,when a lively young family moves in next door ...,/130H1gap9lFfiTF9iDrqNIkFvC9.jpg

In [ ]:
prts = PorterStemmer()

In [ ]:
def stem(text):
    y = []
    for i in text.split():
        y.append(prts.stem(i))
    
    return " ".join(y)

In [ ]:
df_new["tags"] = df_new["tags"].apply(stem)

<ipython-input-145-6e8e4450f3ce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["tags"] = df_new["tags"].apply(stem)

In [ ]:
countvec = CountVectorizer(stop_words="english",max_features=5000)

In [ ]:
countvec

CountVectorizer(max_features=5000, stop_words='english')

In [ ]:
vect = countvec.fit_transform(df_new["tags"]).toarray()

In [ ]:
vect

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
countvec.get_feature_names_out()

array(['10', '1000', '11', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [ ]:
sim = cosine_similarity(vect)

In [ ]:
sim

array([[1.        , 0.06686508, 0.08711806, ..., 0.07012869, 0.01488398,
        0.11768446],
       [0.06686508, 1.        , 0.14213381, ..., 0.06356417, 0.02023612,
        0.04571503],
       [0.08711806, 0.14213381, 1.        , ..., 0.1490712 , 0.1423737 ,
        0.10721125],
       ...,
       [0.07012869, 0.06356417, 0.1490712 , ..., 1.        , 0.02122382,
        0.04794633],
       [0.01488398, 0.02023612, 0.1423737 , ..., 0.02122382, 1.        ,
        0.29001719],
       [0.11768446, 0.04571503, 0.10721125, ..., 0.04794633, 0.29001719,
        1.        ]])

In [ ]:
sim.shape

(7618, 7618)

In [ ]:
def recommend(movies):
    movie_index = new_df[new_df.title == movies].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key= lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [ ]:
recommend("Batman")

In [ ]:
#now it is time for building recommendation system.

In [ ]:
input = input("Plug in the movie: ")

recommend(input)